/* 
    Document   : base
    Created on : 13 oct. 2011, 18:39:54
    Author     : Yoga
    Description:
        Fichier de base du site
*/


/*creation d'une nouvelle police ( NON FONCTIONNEL ENCCORE )*/
@font-face {
    font-family : 'fGillSans';
    src : url('fonts/GillSans.ttc');
}
body, #main p {
    font-family: "GillSans";
}

/* =============================================================================
    HEADER
   ========================================================================== */

/*taille et position du header*/
header{
    height: 169px;
    margin-bottom: 0px;
}

/*div dans le header comportant le logo et le slogan*/
#banniere{
    padding-top: 0px;
    height: 131px;
    background-image: url('../images/bg_header.jpg');
    background-repeat: repeat-x;
}

/*logo de l'entreprise*/
#lien_logo{
    margin-left: 24%;
    padding-top: 50px;
}

/*séparateur logo slogan*/
#separator {
    padding-left: 3.5%;
    padding-top: 50px;
}

/*image point*/
#bullet_point {
    padding-left: 2%;
    padding-bottom: 5px;
}

/*slogan*/
#banniere h1{
    display: inline;
    padding-left: 0.5%;
    padding-top: 9px;
    font-family: "GillSans";
}






/* =============================================================================
    BARRE DE NAVIGATION
   ========================================================================== */

/*position et taille de la barre de navigation du site*/
nav {
    margin-top: 0px;
    margin-bottom: 0px;
    height: 56px;
    background-image: url('../images/bg_menu.jpg');
    background-repeat: repeat-x;
}

/*bouton permettant de revenir à l'accueil du site*/
#home_button{
    margin-top: 10%;
    margin-left:  24%;
}


/* permet de faire l'espacement entre les liens de la barre de navigation*/
.link{
    padding-left: 1.5%;
    padding-right: 1.5%;
}

/*séparateur de liens*/
.menu_separator{
    padding-top: 10px;
}



/* =============================================================================
    MAIN
   ========================================================================== */

/*div comportant le contenu du site*/
#main{
    margin-top : 18px;
    height: 55em;

}

/* div comportant les dernieres applications*/
#applications{
    height:30em;
    background-color: #3a3a3a;
}

/*
#left{
    width: 26%;
    height: 390px;
    float: left;
}

#left a{

    position: relative;
    top: 50%;
    left: 94%;

}


#image_appli{
}

#description_appli{
}

#appli{
    display: inline-block;
    width: 44%;
    height: 390px;
    margin-left: 0px;

}

.image_appli{
    position: relative;
    left: 15%;
    top: 13%;
}

.separator_appli{
    position: relative;
    left: 24%;
}


#description_appli{
    height: 390%;
    padding-left: 0px;
    width: 20%;
}



#right{
    float: right;
    height: 390px;
    width: 30%;


}

#right a{
    position: relative;
    top: 50%;
}

*/


#news_contacts {
   
   background-image: url('../images/light_content.png');
}




/*div comportant les dernieres news du site*/
#news{
    /*background-color: #fbf3b3;*/
    background-image: url('../images/bg_content.gif');
    background-repeat: repeat-x;
    width: 47%;
    height: 25em;
    float: left;
}

/*placement du titre NEWS*/
#news h1{
    margin-top: 10%;
    margin-left: 55%;
    display: inline;
}




/*div comportant les CONTACTS*/
#contacts{
    float: right;
    width: 53%;
    height: 25em;
    background-image: url('../images/bg_content.gif');
    background-repeat: repeat-x;
    /*background-color: #c8341e;*/
}

/*placement du titre CONTACTS*/
#contacts h1{
    padding-top: 10%;
    margin-left: 0%;
    display: inline;
}







/* =============================================================================
   FOOTER
   ========================================================================== */


/*taille et position du footer */
footer{
    margin-top: 0px;
    height:50px;
    background-color: black;
}

/*lien credit*/
footer .credit{
    padding-left: 24%;
    color: white;
}

/*lien mention legal*/
footer .mention_legal
{
    padding-left: 2%;
    padding-right: 35%;
    color: white;
}

/* Wemobz Siret*/
footer p{
    display: inline;
    color: white;
}  







/* =============================================================================
   CODE DU CARROUSEL
   ========================================================================== */


/*taille et position du carrousel*/
#carrousel{
    width:706px;
    height:30em;
    margin:0 auto;
    position:relative;
    overflow:hidden;

}

.slides{
    position:absolute;
    top:0;
    left:0;
    width:706px;
    height:auto;

}


.titre {
    -moz-background-clip:border;
    -moz-background-inline-policy:continuous;
    -moz-background-origin:padding;
    position:absolute;
    padding-left:12px;
    height:35px;
    line-height:35px;
    bottom:0;
    left:0;
    width:700px;




}
.navigation {
    position:absolute;
    bottom:38px;
    right:5px;

}

.navigation span{
    background:#000;
    color:#FFF;
    padding:2px 4px;
    cursor:pointer;

}

.navigation span:hover,.navigation span.active{
    background:#FFF;
    color:#000;
}



#twtr-widget-1{
    
    padding-left: 55%;
}